<html>
  <head>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" >
  </head>
  <body>
    <div class="col-sm-12">
      <h1> R Script Console </h1>
    </div>
    <div class="container-fluid">
      <div class="form-horizontal" role="form">
        <form id="upload-files-form" enctype="multipart/form-data">
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" name="task-id" id="task-id" oninput="updateOutputLink()" placeholder="Task Id" />
            </div>
            <div class="col-sm-2">
              <input type="button" class="btn btn-default" id="generate-random-string" value="Generate Random String" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9">
              <input type="file" name="files" class="form-control" id="upload-to-code-files" multiple/>
            </div>
            <div class="col-sm-3">
              <input type="button" class="btn btn-default" id="upload-to-code" value="Upload to Code Folder" />
              <input type="button" class="btn btn-default" id="upload-to-input" value="Upload to Input Folder" />
            </div>
          </div>
        </form>
        <div class="form-group">
          <div class="col-sm-12"> 
            <textarea class="form-control" id="command-area" rows="22"disabled></textarea>
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-12">
            Output: <a id="output-link" href="/static//output" >http://optima-office:5055/static//output</a>
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-11">
            <input type="text" class="form-control" id="command" />
          </div>
          <div class="col-sm-1">
            <input type="button" class="btn btn-default" id="send-command" value="Run" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script>

function updateOutputLink() {
  $("#output-link").html("http://optima-office:5055/static/"+ $("#task-id").val() +"/output")
    $("#output-link").prop("href", "/static/"+ $("#task-id").val() +"/output")
}
$(document).ready(function() {

  function upload(formData) {
    $.ajax({
      url: '/upload',
      type: 'POST',
      success: function completeHandler() {
        alert("File Upload completed");
      },
      data: formData,
      cache: false,
      contentType: false,
      processData: false
    });
  }

  $('#upload-to-code').click(function () {
    var formData = new FormData($('#upload-files-form')[0]);
    formData.append("dir", "code")
    upload(formData);
  });

  $('#upload-to-input').click(function () {
    var formData = new FormData($('#upload-files-form')[0]);
    formData.append("dir", "input")
    upload(formData);
  });

  $("#send-command").click(function() {
    taskId = $("#task-id").val();
    command = $("#command").val();
    if(taskId == "" || command == ""){
      alert("Task Id and Command cannot be empty.");
      return;
    }
    var socket = new WebSocket("ws://" + window.location.host + "/run");
    socket.onopen = function(){
      $("#send-command").prop('disabled', true);
      $("#command").val("")
      socket.send(taskId + " " + command);
    }
    socket.onmessage = function(msg){
      $("#command-area").val($("#command-area").val() + msg.data);
      $("#command-area").scrollTop($("#command-area").get(0).scrollHeight);

    }
    socket.onclose = function(){
        $("#send-command").prop('disabled', false);
    }
  })

  $("#generate-random-string").click(function() {
    var ret = "";
    var seed = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    for(var i=0;i<20;i++){
      ret += seed[parseInt(Math.random()*seed.length)]
    }
    $("#task-id").val(ret);
    updateOutputLink();
  })

  $("#command").keyup(function(event) {
    if(event.keyCode == 13) {
      $("#send-command").click();
    }
  })
})
</script>
