<html>
  <head>
    <title>R Console</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" >
    <link href="/assets/jquery.auto-complete.css" rel="stylesheet" >
    <style type="text/css" media="screen">
      #editor {
        margin: 10px;
        border: 2px black solid;
      }
    </style>
  </head>
  <body>
    <div class="col-sm-12">
      <h1> R Script Console </h1>
    </div>
    <div class="container-fluid">
      <div class="form-horizontal" role="form">
        <form id="upload-files-form" enctype="multipart/form-data">
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" name="task-id" id="task-id" oninput="updateOutputLink()" placeholder="Task Id" />
            </div>
            <div class="col-sm-2">
              <input type="button" class="btn btn-default" id="generate-random-string" value="Generate Random String" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9">
              <input type="file" name="files" class="form-control" id="upload-to-code-files" multiple/>
            </div>
            <div class="col-sm-3">
              <input type="button" class="btn btn-default" id="upload-to-code" value="Upload to Code Folder" />
              <input type="button" class="btn btn-default" id="upload-to-input" value="Upload to Input Folder" />
            </div>
          </div>
        </form>


        <div class="form-group">
          <div class="col-sm-12"> 
            <h4 id="editor-filename" >/code/.r</h4>
          </div>
          <div class="col-sm-12"> 
            <div id="editor" style="min-height: 500px;">
            </div>
          </div>
        </div>
          <div class="col-sm-offset-10 col-sm-2"> 
            <button id="submit-code" class="btn btn-default" >Upload code</button>
            <button id="submit-code-and-run" class="btn btn-default" >Upload and Run</button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12"> 
            <textarea class="form-control" id="command-area-stdout" style="height: 140px;" rows="22"disabled></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12"> 
            <textarea class="form-control" id="command-area-stderr" style="height: 140px;" rows="22"disabled></textarea>
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-12">
            Output: <a id="output-link" href="" ></a><br />
            Stdfiles: <a id="stdfiles-link" href="" ></a>
          </div>
        </div>

        <div class="form-group"> 
          <div class="col-sm-6"> 
            <input id="cpus-limit" class="form-control" type="text" value="1" placeholder="CPU Limit" />
          </div>
          <div class="col-sm-6"> 
            <input id="memory-limit" class="form-control" type="text" value="2048" placeholder="Memory Limit" />
          </div>
        </div>

        <div class="form-group"> 
          <div class="col-sm-11">
            <input type="text" class="form-control" id="command" />
          </div>
          <div class="col-sm-1">
            <input type="button" class="btn btn-default" id="send-command" value="Run" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/jquery.auto-complete.min.js" type="text/javascript"></script>
<script>


function generateRandomString(len) {
  var ret = "";
  var seed = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
  for(var i=0;i<len;i++){
    ret += seed[parseInt(Math.random()*seed.length)]
  }
  return ret;
}

var fileRandom = generateRandomString(10);

function updateOutputLink() {
  $("#output-link").html(window.location.origin + "/static/"+ $("#task-id").val() +"/output");
  $("#output-link").prop("href", "/static/"+ $("#task-id").val() +"/output");


  $("#stdfiles-link").html(window.location.origin + "/static/"+ $("#task-id").val() +"/stdfiles");
  $("#stdfiles-link").prop("href", "/static/"+ $("#task-id").val() +"/stdfiles");
  $("#editor-filename").html("/code/" + $("#task-id").val() + "_" + fileRandom + ".r");
}

$(document).ready(function() {
  var returnFocus = false;

  function upload(formData, callback) {
    if(callback === undefined){
      callback = function completeHandler() {
        alert("File Upload completed");
      };
    }
    $.ajax({
      url: '/upload',
      type: 'POST',
      success: callback,
      data: formData,
      cache: false,
      contentType: false,
      processData: false
    });
  }

  function initEditor(){
    editor = ace.edit("editor");
    //editor.setTheme("ace/theme/monokai");
    editor.setFontSize("15px");
    editor.getSession().setMode("ace/mode/r");
    editor.setValue("\na <- 1;\na;", -1)
  }


  function handleWebSocketMessage(msg){
    
    var str = msg.data;
    if(str.startsWith("STDOUT: ")){
      str = str.replace(/^STDOUT: /, "");
      $("#command-area-stdout").val($("#command-area-stdout").val() + str);
      $("#command-area-stdout").scrollTop($("#command-area-stdout").get(0).scrollHeight);
    }else if(str.startsWith("STDERR: ")){
      str = str.replace(/^STDERR: /, "");
      $("#command-area-stderr").val($("#command-area-stderr").val() + str);
      $("#command-area-stderr").scrollTop($("#command-area-stderr").get(0).scrollHeight);
    }else if(str === "PING") {
      // Do Nothing
    }
  }

  $('#upload-to-code').click(function () {
    var formData = new FormData($('#upload-files-form')[0]);
    formData.append("dir", "code")
    upload(formData);
  });

  $('#upload-to-input').click(function () {
    var formData = new FormData($('#upload-files-form')[0]);
    formData.append("dir", "input")
    upload(formData);
  });

  $("#send-command").click(function() {
    taskId = $("#task-id").val();
    command = $("#command").val();
    memory = $("#memory-limit").val();
    cpus = $("#cpus-limit").val();
    if(taskId == "" || command == ""  || cpus == "" || memory == "" ){
      alert("Task Id, Command, cpu and memory limits cannot be empty.");
      return;
    }
    var socket = new WebSocket("ws://" + window.location.host + "/run");
    socket.onopen = function(){
      $("#send-command").prop('disabled', true);
      $("#command").prop('disabled', true);
      $("#submit-code-and-run").prop('disabled', true);
      $("#command").val("")
      socket.send(taskId + " " + cpus + " " + memory + " " + command);
    }

    socket.onmessage = handleWebSocketMessage;

    socket.onclose = function(){
      $("#send-command").prop('disabled', false);
      $("#command").prop('disabled', false);
      $("#submit-code-and-run").prop('disabled', false);
      if(returnFocus){
        $("#command").focus();
      }
      returnFocus = false;
    }
  })

  $("#generate-random-string").click(function() {
    $("#task-id").val(generateRandomString(20));
    updateOutputLink();
  })

  $("#command").keyup(function(event) {
    if(event.keyCode == 13) {
      returnFocus = true;
      $("#send-command").click();
    }
  })

  $("#submit-code").click(function(event) {
    taskId = $("#task-id").val();
    code = editor.getValue();

    var formdata = new FormData();
    formdata.append("dir", "code");
    formdata.append("task-id", taskId);
    formdata.append("files", new Blob([code]), taskId + "_" + fileRandom + ".r");
    upload(formdata);

  })

  $("#submit-code-and-run").click(function(event) {
    taskId = $("#task-id").val();
    code = editor.getValue();

    var formdata = new FormData();
    formdata.append("dir", "code");
    formdata.append("task-id", taskId);
    formdata.append("files", new Blob([code]), taskId + "_" + fileRandom + ".r");

    upload(formdata, function(){
      $("#command").val("Rscript /code/" + taskId + "_" + fileRandom + ".r")
      $("#send-command").click();
    });

  })

  function initAutoCompleter(){
    $.ajax({
      url: '/static',
      type: 'GET',
      success: function(data){
        var links = $(data).find("a");
        dirs = $.map(links, function(a) {
          html = $(a).html();
          if(html.substr(-1) === '/') {
            html = html.substr(0, html.length - 1);
          }
          return html;
        });

        $("#task-id").autoComplete({
          minChars: 0,
          source: function(term, suggest){
            term = term.toLowerCase();
            var choices = dirs;
            var matches = [];
            for (i=0; i<choices.length; i++)
              if (~choices[i].toLowerCase().indexOf(term)) matches.push(choices[i]);
            suggest(matches);
          },
          onSelect: updateOutputLink
        });

      },
      cache: false,
      contentType: false,
      processData: false
    });
  }

  initEditor();
  initAutoCompleter();
  $("#generate-random-string").click();

})
</script>

